Source: tcosmonitor
Section: gnome
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 5.0.37.2)
Build-Depends-Indep: python, python-support (>= 0.3)
Standards-Version: 3.7.2
XS-Python-Version: >= 2.4
XS-Vcs-Browser: http://trac.tcosproject.org/browser/trunk/tcosmonitor
XS-Vcs-Svn: https://forja.rediris.es/svn/cls-tcos/trunk/tcosmonitor

Package: tcosmonitor
Architecture: all
Depends:  gksu | kdebase-bin, zenity, dbus,
          python-dbus | python2.4-dbus, python-gtk2, python-glade2, 
          x11vnc, lsb-base (>= 3.0-6), python-notify, python-gnome2-extras, 
          ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}
Conflicts: initramfs-tools-tcos (<= 0.83.2)
XB-Python-Version: ${python:Versions}
Description: Thin client monitor
 TCOS, thin Client Operating System is a method to create small embedded os
 based on debian/ubuntu with normal debian kernel's.
 .
 tcosmonitor is a small pygtk app to monitor thin clients
 .
  Homepage: http://www.tcosproject.org
