Source: tcosmonitor
Section: gnome
Priority: optional
Maintainer: Mario Izquierdo (mariodebian) <mariodebian@gmail.com>
Build-Depends: debhelper (>= 5.0.37.2), cdbs, python, python-support (>= 0.3)
Standards-Version: 3.7.2
XS-Vcs-Browser: http://trac.tcosproject.org/browser/trunk/tcosmonitor
XS-Vcs-Svn: https://www.tcosproject.org/svn/tcos/trunk/tcosmonitor

Package: tcosmonitor
Architecture: all
Depends:  python, gksu | kdebase-bin, tcosmonitor-common, python-glade2, ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}
Conflicts: initramfs-tools-tcos (<= 0.88.16), tcosmonitor (<=0.2.16~rc9)
Description: Thin client monitor
 TCOS, thin Client Operating System is a method to create small embedded os
 based on Debian/Ubuntu with normal Debian kernel's.
 .
 tcosmonitor is a small pygtk app to monitor thin clients
 .
  Homepage: http://www.tcosproject.org

Package: tcosmonitor-common
Architecture: all
Depends:  python, dbus, zenity, python-dbus | python2.4-dbus, python-gtk2, python-netifaces, 
          x11vnc, lsb-base (>= 3.0-6), python-notify, python-gnome2-extras, 
          notification-daemon, libnotify-bin, tcos-core ( >= 0.89~rc0), python-utmp, 
          ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}
Conflicts: initramfs-tools-tcos (<= 0.88.16), tcosmonitor (<=0.2.16~rc9)
Description: Thin client monitor
 TCOS, thin Client Operating System is a method to create small embedded os
 based on Debian/Ubuntu with normal Debian kernel's.
 .
 This package contains common files of tcosmonitor (for standalone depends)
 .
  Homepage: http://www.tcosproject.org
