#!/usr/bin/make -f

#export DH_VERBOSE=1



configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	$(MAKE) -B

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	$(MAKE) clean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	$(MAKE) install         DESTDIR=$(CURDIR)/debian/tcosmonitor PREFIX=/usr
	$(MAKE) install-tcos    DESTDIR=$(CURDIR)/debian/tcosmonitor PREFIX=/usr

	dh_link /usr/share/applications/tcosmonitor.desktop /usr/share/control-center-2.0/capplets/tcosmonitor.desktop

	find $(CURDIR)/debian/tcosmonitor -name ".svn" | xargs rm -f --

# old rules for generating not supported packages,
# don't delete because you can need it
#	$(MAKE) install-pxes1.0 DESTDIR=`pwd`/debian/tmp
#	$(MAKE) install-pxes1.1 DESTDIR=`pwd`/debian/tmp
#	$(MAKE) install-pxes1.2 DESTDIR=`pwd`/debian/tmp
#	$(MAKE) install-ltsp    DESTDIR=`pwd`/debian/tmp


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install --sourcedir=`pwd`/debian/tcosmonitor --list-missing
	dh_install
	dh_installman
	dh_installinit
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_desktop
	dh_pysupport
#	dh_python
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
