#!/usr/bin/make -f

DISTRO_VERSION=$(shell dpkg-parsechangelog | awk '/^Distribution/ {print $$2}')


%:
	dh $@ --with python2


override_dh_auto_clean:
	dh_auto_clean
	cd po && make clean

override_dh_install:
	dh_install

ifeq ($(DISTRO_VERSION),max)
	sed -i '/show_donate/s/1/0/g' debian/tcosmonitor-common/usr/lib/python2.*/dist-packages/tcosmonitor/shared.py;
endif
	


.PHONY: override_dh_auto_clean

